---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Layout from "../layouts/Layout.astro";
import Main from "../components/Main.astro";
---

<Layout>
	<div class="flex flex-col min-h-screen">
		<Header />
		<Main class="flex-grow" />
		<Footer />
	</div>
</Layout>
