<footer class="xl:w-[70%] xl:mx-auto bg-[#333333] py-4 sm:py-6 shadow-md">
    <div class="container mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex items-center justify-center">
            <p class="text-sm sm:text-base text-center">
                Created with <span class="text-red-500" aria-hidden="true"
                    >❤️</span
                ><span class="sr-only">love</span> by me
            </p>
        </div>
    </div>
</footer>
